@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Technology Reviews</h1>
    <p class="lead">Current reviews on all the latest technology!</p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4 indexCol" >
        <h2>Televisions</h2>
        <p>
            <img src="~/Images/tv2.jpg" class="img-responsive indexPic"/>
        </p>
        <p><a class="btn btn-default" href="/Reviews">TV Reviews &raquo;</a></p>
    </div>
    <div class="col-md-4 indexCol">
        <h2>Smart phones</h2>
        <p>
            <img src="~/Images/phone.jpg"  class="img-responsive indexPic"/>
        </p>
        <p><a class="btn btn-default" href="/Reviews">Phone Reviews &raquo;</a></p>
    </div>
    <div class="col-md-4 indexCol">
        <h2>Laptops</h2>
        <p>
            <img src="~/Images/laptop.jpg" class="img-responsive indexPic" />
        </p>
        <p><a class="btn btn-default" href="/Reviews">Laptop Reviews &raquo;</a></p>
    </div>
</div>